@font-face {
  font-family: 'Blair';
  src:  url('assets/fonts/blair_itc_medium1.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clearface';
  src:  url('assets/fonts/ClearfaceITCbyBT-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Clearface Italic';
	src:  url('assets/fonts/ClearfaceITCbyBT-RegularItalic.otf');
	font-weight: normal;
	font-style: normal;
}
